var new_comment = $("<%= escape_javascript(render(:partial => @comment))%>").hide();
$("#comments").prepend(new_comment);
$("#comment_<%= @comment.id %>").fadeIn("slow");
$("#new_comment")[0].reset();
/* "escape_javascript" checks for valid java script output. It uses "\"  escape characters
    to make sure string returned(with inner, outer double quotes) will not break javascript */